name: CI - Build & Push Demo App

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Checkout code
      - name: Checkout repo
        uses: actions/checkout@v4

      # Set up Node
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      # Install & test (if you add tests later)
      - name: Install dependencies
        run: npm install

      # Login to Docker Hub
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Build & push Docker image
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: dkklimo/k8s-demo-app:2.0
